*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    color: azure;
    background-color: #1A0B2E;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}
.logo-2 h1{
     margin-left: 80px;
     font-size: 64px;
     font-weight: 600;
}
.logo-2 span{
     background: linear-gradient(90deg,#ff4ecd, #6a5cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 30px;
}
.btn{
    width: 120px;
    color: azure;
    align-content: center;
    /* justify-content: center; */
    background: linear-gradient(to right ,red, yellow,blue, pink, rgb(225, 0, 255));
    /* border: 2px; */
    margin-right: 80px;
    padding: 5px;
    border-radius: 10px ;
}

#banner-container{
    background: url(./assets/hero-bg.png);
    width: 100%;
    height: 100%;
    justify-items: center;
    color: aliceblue;
    margin-bottom: 70px;
    
}
.box .back .new{
    position: relative;
    right: -250px;
    top: 40px;
}
.box .back{
    width: 40%;
    padding-top: 70px;
    margin-right: 40px;
      z-index: 1;
}
.box .front{
    top: -270px;
    left: 120px;
     position: relative;
}
.banner-text{
    position: relative;
    top: -170px;
    left: 60px;
    align-items: center;
    justify-content: center;
}
.banner-text>h1{
font-weight: 700;
font-size: 60px;
}
.btn-1{
    width: 180px;
    height: 35px;
    padding: auto;
    margin-top: 20px;
    margin-right: 10px;
    background: linear-gradient(to right,red,pink,yellow,blue);
    justify-content:space-between ;
    border-radius: 10px;
}
.btn-2{
    color:#00FF88 ;
    font-size: 16px;
    width: 150px;
    height: 35px;
    padding: aut0;
    border-radius: 20px;
    background-color: blue;
        
}
/* about section */
#about-container{
    width: 100%;
    color: antiquewhite; 
    padding-left: 100px;
    background-color: #1A0B2E;
    align-items: center;
    justify-items: center;
}
.about-heading{
    font-weight: 700;
    justify-content: center;
    padding-bottom: 25px;
}
.div-p {
    gap: 90px;

}
.div-p div h1{
    color:#00FF88;
}
.div-p div p{
    color: aliceblue;
}
#why-section{
    width: 100%;
 justify-items: center;
}   
.icon-container{
    display: grid;
    grid-template-columns: repeat(3,250px);
    grid-template-rows: repeat(3,250px);
    gap: 20px;
}

.icon-container .mid-1{
   grid-row: span 2;
       background-color: #351165;
    padding-top: 30px;
    border-radius: 30px;
   padding-left: 20px;
  
}
.icon-container .mid-2{
    grid-column: span 2;
         background-color: #351165;
    padding-top: 30px;
    border-radius: 30px;
   padding-left: 20px;
}
.icon-container .mid-3{
        grid-column: span 2;
         background-color: #351165;
    padding-top: 30px;
    border-radius: 30px;
   padding-left: 20px;
}
.icon-container .mid-4{
         grid-column: span 2;
         background-color: #351165;
    padding-top: 30px;
    border-radius: 30px;
   padding-left: 20px;
}
.icon-container .mid-5{
          background-color: #351165;
    padding-top: 30px;
    border-radius: 30px;
   padding-left: 20px;
}
main{
   background-color: #1A0B2E;
    color: aliceblue;
    padding-top: 50px;
    justify-content: center;
     padding-bottom: 50px;
}
#song-container{
    display: flex;
    border-radius: 30px;
    gap: 20px;
    justify-content: space-around;
     padding-bottom: 40px;
     padding-left: 100px;
     padding-right:100px;
}
 h3,p {
    background-color: #351165;
    border-radius: 15px;
   
}
#meet-section{
    background-color: #1A0B2E;
    display: flex;
    justify-items: center;
    padding-left: 300px;
    padding-right: 300px;
    color: antiquewhite;
    padding-bottom: 70px;
}
.p-icons{
    padding-top: 20px;
    padding-left: 20px;
}
.last-img{
    justify-items: center;
    color: antiquewhite;
    background: url(assets/footer-bg.png);
}
.last-img>h1{
    padding-bottom: 40px;
    /* font-weight: 800; */
}
.logo{
    font-size: 63px;
    font-weight: 700;
}
.logo span{
    background: linear-gradient(90deg,#ff4ecd, #6a5cff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-img{
    gap: 30px;
}
@media screen and (max-width:576px) {
    nav{
          width: 100%;
          height: 100%;
    color: azure;
    background-color: #1A0B2E;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    }
}